@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

*{
	box-sizing: border-box;
}
html{
	font-size: 10px;
	height: 100%;
}
body{
	font-size: 1.4rem;
	min-height: 100%;
	line-height: 1.6;
	color: #7a7b7f;
	background-image: linear-gradient(45deg, #ff512f, #dd2476);
}
.form{
    margin: 0 auto;
    max-width: 1140px;
    width: 460px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    &__title {
    	font-size: 2.4rem;
    	color: #1b1c1d;
    	margin: 0;
    	display: inline-block;
    	vertical-align: middle;
    	// &:before {
    	// 	content: '';
    	// 	background-image: url(../img/sign_up.png);
    	// 	width: 16px;
    	// 	height: 16px;
    	// }
    }
    &__img {
    	display: inline-block;
    	vertical-align: middle;
    	margin-right: 10px;
    }
    &__link {
    	text-decoration: none;
    	color: #ea355a;
    	transition: all .6s ease-in;
    	&:hover,
    	&:focus,
    	&:active {
    		color: #bd1962;
    	}
    }
    &__info {
    	font-size: 1.3rem;
    	margin: 25px 0 35px 0;
    }
    &__btn {
    	font-size: 1.8rem;
    	color: #fff;
    	width: 100%;
    	background-color: #ea355a;
    	padding: 15px;
    	border-radius: 5px;
    	font-weight: 900;
    	margin-bottom: 15px;
    	border-bottom: 2px solid #bd1962;
    	transition: all .4s ease-in;
    	&:hover,
    	&:focus,
    	&:active {
    		background-color: #bd1962;
    		border-bottom-color: #ea355a;
    	}
    }
    &__input {
    	width: 100%;
    	padding: 15px;
    	outline: none;
    	background-color: #f0f0f0;
    	border-radius: 5px;
    	border: none;
    	margin-bottom: 15px;
        border: 1px solid transparent;
        &:valid {
            border: 1px solid green;
        }

    	&--48 {
    		width: 48%;
    		&:not(:first-of-type) {
    			margin-left: 3%;
    		}
    	}
    }
}
